NAV {
	width: 20%;
	height: 100%;
	border: 1px;
	margin-top: 30px;
	margin-left: 1px;
	float: left;
	padding: 5px;
}
TEXT {
	width: 75%;
	height: 100%;
	margin-top: 30px;
	float: right;
	padding: 5px;
}

A:LINK {
	color: #461B7E;
	text-decoration: none;
}
A:HOVER {
	color: #9542f4;
	text-decoration: none;
}
